{% extends "admin/base-admin.html" %} {% block main %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <h1>Set new password</h1>

  <div class="row mb-3">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password">
    </div>
  </div>
  <div class="row mb-3">
    <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="confirmPassword">
    </div>
  </div>
  <button type="submit" class="btn btn-primary" onclick="changePassword()">Submit</button>


</main>



<script>


  async function changePassword() {
    var password = document.getElementById("password")
    var confirmPassword = document.getElementById("confirmPassword")

    if (password.value == "" || confirmPassword.value == "") {
      alert("Please set a password")
      return
    }

    if (password.value != confirmPassword.value) {
      alert("Password and confirm password fileds must be the same")
      return
    }

    result = await updatePassword(password.value)
    if (result == -1) {
      alert("Somenthing happened, try again later")
    }
    else {
      alert("Password changed")
    }

  }


  async function updatePassword(password) {
    var response = await fetch(
      "/qr-code/admin/change-password", {
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      method: 'POST',
      body: JSON.stringify({ "password": password })
    })
    return await response.json()
  }



</script>

{% endblock %}