{% extends "base.html" %}

{% block main %}
<div class="col-md-8">
    <!-- Services section-->
    <section class="bg-light" style="
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>{{ title }}</h2>
                    <br />
                    <div class="mb-3">
                        <input type="file" id="fileupload" name="fileupload" class="form-control" {{multiple}} />
                        <br />
                        <button class="btn btn-outline-secondary" onclick="uploadFile('{{js_param}}')">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="spinner-section" style="display: none">
        <button class="btn btn-secondary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
    </section>

    <section id="result" class="bg-light" style="margin-top: 50px; margin-bottom: 50px">
        <div id="spreadsheetToJsonResult" class="container" style="display: none">
            <div>
                <button class="btn btn-outline-secondary" onclick="spreadsheetToJsonResultCopyBtn()">
                    copy to clipboard
                </button>
                <br />
                <textarea id="spreadsheetToJsonResultTextArea" rows="20" cols="80">
                    </textarea>
            </div>
        </div>
    </section>
</div>

<script src="{{url_for('static', filename=js_file)}}"></script>
{% endblock %}