{% extends "base.html" %}

{% block main %}
<div class="col-md-8">
    <!-- Services section-->
    <section class="bg-light" style="
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <br />
                    <h3>Select an option from top menu.</h3>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}